.square{
    display:flex;
    border: 10px solid greenyellow;
    height: 100px;
    width: 100px;
    background-color: black;
    color: white;
    font-size: 50px;


}
.container{
   flex-direction: row;
   
}

